<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="image">
    <img src="/assets/Image/Sans-titre-3.png" alt=" Image" height="100" width="100
    ">
  </div> 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      

      <li class="nav-item dropdown">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </li>
      <li class="nav-item">
       
      </li>
    </ul>
  
  
    <div class="form-group row">
      <div class="col-md-6">
    <button class="btn btn-outline-info">
       Sign Up
    </button>
      </div>
      <div class="col-md-5">
    <button class="btn btn-outline-info">
       Log In
    </button>
      </div>
    </div>
    <div class="col-md-2">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/Image/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"> Souhail Hajri</a>
      </div>
    
       
    </div>
   
    </div>
     <!-- Messages Dropdown Menu -->
     <div class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">3</span>
      </a>
    </div>
      <div class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
      
      </div>
  </div>


</nav>
