<div class="content-wrapper">
<app-nav-header></app-nav-header>
<div class="row">
  <div class="col-12 col-md-2">
    <h2>Liste Question</h2>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="InformationFiltre.titre" >
   <br>
  <div *ngFor="let demande of InfoService.filtirng  | filterBy: InformationFiltre" 
  style="background-color: white; color: black">
  <div class="row no-gutters">
    <div class="col">
  <button class="btn btn-outline-info col-12"routerLinkActive="active" 
  (click)="InfoService.GetId(demande.idDemandeInfo);comminfoService.getCommInfoFiltrer(demande.idDemandeInfo);getCatInfoFiltrer(demande.idDemandeInfo)"
  >{{demande.titre}}</button><br>
    <!-- <td>{{demande.domaineNom}}</td>
      <td>{{demande.description}}</td>
      <td>{{demande.date | date:'dd/MM/yyyy'}}</td> -->
      <br>
      

 </div>
  </div>
  </div>

 
</div>
<div class="col-6 col-md-10"> 
  <ng-template #templateSubmit>
    <div class="modal-header">
    
      <h4 class="modal-title pull-left"> Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-popup></app-popup>
    </div>
  </ng-template>

  <button type="button" class="btn btn-primary" (click)="openModal(templateSubmit)">Poser Question</button>

  <div class="container">
    <div *ngFor="let demande of InfoService.obj ">
    <h1>{{demande.titre}}</h1>
    <hr/>
    <div class="form-group">
      <div class="form-group row">
      <div *ngFor="let cat of CatInfoFiltrer "class="col-md-3"><label> Categorie :{{cat.labelCat}}</label></div>   
        <div class="col-md-3"> <label> Domaine : {{demande.domaineNom}}</label>  </div>
      </div>                                        
      <textarea class="form-control"  rows="3" readonly>
        {{demande.description}}
      </textarea>
    </div>
    {{demande.date}}
    <hr/>
    <h4>Reponses </h4>
    <hr/>
   
    <div *ngFor="let comment of comminfoService.CommInfoFiltre">
      <textarea class="form-control"rows="3" readonly >
        {{comment.descriptionComm}} 
      </textarea>
      <rating [(ngModel)]="comment.note"
      (click)="comminfoService.GetCommId(comment.idComm);VoteService.getidvote(comment.note)"></rating>
      
      <button class="btn btn-info" (click)="Post(comment.idComm)">
        Rate
          </button>
     <hr/>
    </div> 
    <div *ngFor="let v of CommVoteService.CommVoteFiltre">
      {{v.note}} 
      
    <hr/>
  
  </div>
    

      <app-comm></app-comm>
 
  </div>
</div>
</div>
</div>