<!-- <div class="content-wrapper">
  <div class="row">
  <div class="col-12 col-md-2">
    <h2>Liste Question</h2>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="InformationFiltre.titre" >
   <br>
  <div *ngFor="let demande of InfoService.filtirng  | filterBy: InformationFiltre" 
  style="background-color: white; color: black">
  <div class="row no-gutters">
    <div class="col">
  <button class="btn btn-outline-info col-12"routerLinkActive="active" 
  (click)="InfoService.GetId(demande.idDemandeInfo);comminfoService.getCommInfoFiltrer(demande.idDemandeInfo);getCatInfoFiltrer(demande.idDemandeInfo)"
  >{{demande.titre}}</button><br>

      <br>
      

 </div>
         </div>
      </div>

 
  </div>
<div class="col-6 col-md-10"> 
  <ng-template #templateSubmit>
    <div class="modal-header">
    
      <h4 class="modal-title pull-left"> Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-popup></app-popup>
    </div>
  </ng-template>

  <button type="button" class="btn btn-primary" (click)="openModal(templateSubmit)">Poser Question</button>

  <div class="container">
    <div *ngFor="let demande of InfoService.obj ">
    <h1>{{demande.titre}}</h1>
    <hr/>
    <div class="form-group">
      <div class="form-group row">
      <div *ngFor="let cat of CatInfoFiltrer "class="col-md-3"><label> Categorie :{{cat.labelCat}}</label></div>   
        <div class="col-md-3"> <label> Domaine : {{demande.domaineNom}}</label>  </div>
      </div>                                        
      <textarea class="form-control"  rows="3" readonly>
        {{demande.description}}
      </textarea>
    </div>
    {{demande.date}}
    <hr/>
    <h4>Reponses </h4>
    <hr/>
   
    <div *ngFor="let comment of comminfoService.CommInfoFiltre">
      <textarea class="form-control"rows="3" readonly >
        {{comment.descriptionComm}} 
      </textarea>
      <rating [(ngModel)]="comment.note"
      (click)="comminfoService.GetCommId(comment.idComm);VoteService.getidvote(comment.note)"></rating>
      
      <button class="btn btn-info" (click)="Post(comment.idComm)">
        Rate
          </button>
     <hr/>
    </div> 
    <div *ngFor="let v of CommVoteService.CommVoteFiltre">
      {{v.note}} 
      
    <hr/>
  
  </div>
    

      <app-comm></app-comm>
     
</div>
</div>
</div> -->
<div class="content-wrapper image">
<div class="row">
  <div class="col-12 col-md-2">
    <h1 class="mt-3 mb-3 ml-4 liste-question"><span class="lt">L</span>iste<span class="lt">Q</span>uestion</h1>
      
    <input type="text" class="form-control ml-2  " placeholder="Search" [(ngModel)]="InformationFiltre.titre" >
   <br>
  <div *ngFor="let demande of InfoService.filtirng  | filterBy: InformationFiltre" 
  style=" color: black">
  <div class="row no-gutters">
    <div class="col">
      <div class="w3-container w3-light-blue">
     
  <button class="btn btn-info my-2 ml-2 col-12 "routerLinkActive="active" 
  (click)="InfoService.GetId(demande.idDemandeInfo);comminfoService.getCommInfoFiltrer(demande.idDemandeInfo);getCatInfoFiltrer(demande.idDemandeInfo)"
  >{{demande.titre}}</button>
</div>


 </div>
         </div>
      </div>

 
  </div>

  <div class="col-6 col-md-10"> 
    <ng-template #templateSubmit>
      <div class="modal-header">
      
        <h4 class="modal-title pull-left"> Detail</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-popup></app-popup>
      </div>
    </ng-template>
  
    <div class="container text-right m-2 ques-btn">

  
      <button type="button" class="btn text-white mr-2"(click)="openModal(templateSubmit)">Poser Question</button>
      
    
    </div>
    <div class="container">
  <!-- Box Comment -->
  <div class="card card-widget">
    <div class="card-header">
      <div class="user-block"  *ngFor="let demande of InfoService.obj">
        <img class="img-circle" src="/assets/Image/Sans-titre-3.png" alt="User Image">
        <span class="username"><a href="#">User 1 </a></span>
        <span class="description"> {{demande.date}}</span>
      </div>
      <!-- /.user-block -->
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
          <i class="far fa-circle"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
        </button>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body"  *ngFor="let demande of InfoService.obj">
      <!-- post text -->
      <div class="text-left titre">
      <p>{{demande.titre}}</p>
      </div>
      <hr/>
      <p class="val"><span class="domcat">Domaine :</span>  {{demande.domaineNom}}</p>
      <div *ngFor="let cat of CatInfoFiltrer " class="val"> <span class="domcat">Categorie :</span>{{cat.labelCat}}  
      </div>
      <hr/>
      <textarea class="form-control"rows="3" readonly >
        {{demande.description}} 
      </textarea>
      <div *ngFor="let v of CommVoteService.CommVoteFiltre">
        {{v.note}} 
        
      <hr/>
    
      </div>

      <!-- Social sharing buttons -->
      <!-- <span class="float-right text-muted"> {{comminfoService.nombre }}comments</span> -->

      <div class="col-md-3 mt-2 col-sm-8 col-12">
        <div class="info-box bg-info">
          <span class="info-box-icon"><i class="fas fa-comments"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Commentaires</span>
            <span class="info-box-number">{{comminfoService.nombre }}</span>

           
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
   
    </div>
    <!-- /.card-body -->
    <div class="card-footer card-comments">
      <div class="card-comment" *ngFor="let comment of comminfoService.CommInfoFiltre">
        <!-- User image -->
        <img class="img-circle img-sm" src="/assets/Image/Sans-titre-3.png" alt="User Image">

        <div class="comment-text" >
          <span class="username">
            Nom d'utilisateur
            <span class="text-muted float-right">{{comment.dateComm}}</span>
          </span>
          <textarea class="form-control"rows="3" readonly >
           
          {{comment.descriptionComm}} 
        </textarea>
        </div>
        <rating [(ngModel)]="comment.note"
        (click)="comminfoService.GetCommId(comment.idComm);VoteService.getidvote(comment.note)"></rating>
        <!-- /.comment-text -->
      </div>
      <!-- /.card-comment -->
      <hr/>
      <div class="card-footer ">
        <app-comm></app-comm>
        </div>
    
  </div>
  <!-- /.card -->
  </div>
</div>

</div>



</div> <!-- /.content-wrapper -->
