
/* Style the input container */
 /* .col-md-2 {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  height: calc(2.25rem + 2px);

}  */
/* .col-md-2 {
position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    display: flex;
}
/* Style the form icons */
/* .icon {
  padding: 10px;
  background: #DCDCDC;
  color: white;
  min-width: 50px;
  text-align: center;
}  */