<div class="content-wrapper">

<button class="btn btn-outline-success" (click)="AddMethode(templateSubmit)">
  <i class="fa fa-plus"></i> Create Methode
</button>

<ng-template #templateSubmit>
  <div class="modal-header">
    
    <h4 class="modal-title pull-left">Methode Detail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <app-methode></app-methode>
  </div>
</ng-template>


<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      
      <th>Nom</th>
      <th>Description</th>
      <th>Input</th>
      <th>Output</th>
      <th>Microservice</th>
      <th>Supprimer</th>
      <th>Modifier </th>
     
      
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Methode of mService.method | paginate
  : {
      id: 'MicroservicePagination',
      itemsPerPage: 1,
      currentPage: p
    }" class="sizeText" 
   style="background-color: white; color: black">
    
    <td>{{Methode.nom}}</td>
    <td>{{Methode.description}}</td>
    <td>{{Methode.input}}</td>
    <td>{{Methode.output}}</td>
    <td>{{Methode.msLabel}}</td>
    
    <!-- <td><button (click)="DeleteVer(Versions.idVersion)">Delete</button></td> -->
    <td>
      <button type="button" class="btn btn-danger" (click)="ConfirmModal(templateDelete)"><i
          class="fas fa-trash-alt"></i>Delete</button>

      <!-- <pre class="card card-block card-header">{{message}}</pre> -->
      <ng-template #templateDelete>
        <div class="modal-body text-center">
          <p>Voulez vous Supprimer ?</p>
          <button type="button" class="btn btn-default"
            (click)="confirm();DeleteMethode(Methode.idMethode);">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>
    </td>
    <!-- <td><button (click)="EditVer(Versions)">Edit</button></td> -->
    <td><button class="btn btn-primary" (click)="EditMethode(Methode,templateSubmit)"><i class="fas fa-edit"></i>
      Edit</button></td>
  </tr>
  </tbody>
</table>
<pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
previousLabel="Prec " nextLabel="Suiv ">
</pagination-controls>
</div>