<div class="content-wrapper">
  <div class="form-group row">
    <div class="col-md-5">
        <button type="button" class="btn btn-outline-success" (click)="AddCi(templateSubmit)">
          <i class="fa fa-plus"></i> Add Categorie Demande Information
  </button>
    </div>
    <div class="col-md-5">
    </div>
       <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="CatInfoFilter.labelCat" >
  
  
       </div>
      
  
  <ng-template #templateSubmit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Categorie Info Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCatInfo.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-cat-info></app-cat-info>
      
    </div>
  </ng-template>
  
  
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        
        <th>Categorie</th>
        <th>Titre</th>
        <th>Demande Information  </th>
        <th>Statut</th>
        <th>Supprimer</th>
        <th>Modifier</th>
        <!-- <th>Microservices</th>
    <th>Languages Versions</th> -->
      </tr>
    </thead>
    <tbody>
    <!-- <button class="btn btn-danger" (click)="DeleteLang(language.idLanguage,template1)"><i class="fas fa-trash-alt"></i>  Delete</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create Language</button> -->
    <tr *ngFor="let ci of CatInfoService.CatInfo | filterBy: CatInfoFilter | paginate
    : {
        id: 'MicroservicePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText" 
      style="background-color: white; color: black">
      
      <td>{{ci.labelCat}}</td>
      <td>{{ci.titreInfo}}</td>
      <td>{{ci.descriptionInfo}}</td>
      <td> {{ ci.isActiveCatInfo ? 'Active' : 'Inactive'}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="ConfirmModalCi(templateDelete)"><i
            class="fas fa-trash-alt"></i>Delete</button>
  
        <!-- <pre class="card card-block card-header">{{message}}</pre> -->
        <ng-template #templateDelete>
          <div class="modal-body text-center">
            <p>Voulez vous Supprimer ?</p>
            <button type="button" class="btn btn-default"
              (click)="confirmCi();DeleteCi(ci.idCatDemande);">Yes</button>
            <button type="button" class="btn btn-primary" (click)="declineCi()">No</button>
          </div>
        </ng-template>
      </td>
      <td><button class="btn btn-primary" (click)="EditCi(ci,templateSubmit)"><i class="fas fa-edit"></i>
          Edit</button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
  previousLabel="Prec " nextLabel="Suiv ">
  </pagination-controls>
  </div>
