
    <form [formGroup]="CommService.form" (ngSubmit)="onSubmitComm()">


      <div class="form-group">
        <p>
          
          <input type="hidden" class="form-control" formControlName="idComm" name="idComm">
        </p>
      </div>
      <div class="form-group">
        <p>
          <label for="label">Description</label>
          <input type="text" class="form-control" name="description" formControlName="description">
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Select Date"
                 class="form-control"
                 formControlName="date"
                 value="theme-dark-blue"
                 bsDatepicker
                 [bsConfig]="{}"
                 value="theme-dark-blue">
        </div>
      
      </div>
      <button type="submit" class="btn btn-primary mr-1"> Submit</button>
    </form>





