<div class="modal-header">
  
  <h4 class="modal-title pull-left">Détaille Projet </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef1.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
<div class="container">
<form [formGroup]="projetService.pj" (ngSubmit)="SubmitProjet()">

  <div class="form-group">
    <p>
      
      <input type="hidden" class="form-control" formControlName="idProjet" name="idProjet">
    </p>
  </div>
  <div class="form-group">
    <p>
      <label for="label">Nom</label>
      <input type="text" class="form-control" name="nom" formControlName="nom">
    </p>
  </div>

  <div class="form-group">
    <p>
      <label for="label">Description</label>
      <input type="text" class="form-control" name="description" formControlName="description">
    </p>
  </div>
  <div class="form-group row">
    <div class="col-md-5"></div>          
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch1"  
        name="isActiveProjet"  value="True"  formControlName="isActiveProjet">
        <label class="custom-control-label" for="switch1">Statut</label>
      </div> 
    </div>
  </div>

  <button type="submit" class="btn btn-primary mr-1"> Confirmer</button>
</form>
</div>
</div>



