
    <form [formGroup]="InfoService.form" (ngSubmit)="onSubmitInfo()">


      <div class="form-group">
        <p>
          
          <input type="hidden" class="form-control" formControlName="idDemandeInfo" name="idDemandeInfo">
        </p>
        <div class="form-group">
          <p>
            <label for="label">Titre</label>
            <input type="text" class="form-control" name="titre" formControlName="titre">
          </p>
        </div>

      </div>
      
      <div class="form-group">
        <label>Domaine </label>
        
          <select class="form-control" formControlName="domaineNom" placeholder="domaineNom">
           
            <option value="0">-Select-</option>
            <option *ngFor="let dom of domService.Dom" [ngValue]="dom.idDomain">
              {{dom.nom}}</option>
          </select>
        </div>
      <div class="form-group">
        <p>
          <label for="label">Description</label>
          
          <textarea class="form-control"  name="description" formControlName="description"  rows="3" cols="3" ></textarea>
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 formControlName="date"
                 value="theme-dark-blue"
                 bsDatepicker
                 [bsConfig]="{ isAnimated: true }"
                 value="theme-dark-blue">
        </div>
      
      </div>
      <div class="form-group row">
        <div class="col-md-5"></div>          
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1"  
            name="isActiveInfo"  value="True"  formControlName="isActiveInfo">
            <label class="custom-control-label" for="switch1">Statut</label>
          </div> 
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-1"> Submit</button>
    </form>






