
        <form [formGroup]="langservice.form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>
            <label for="idLanguage">idLanguage</label>
            <input  type="text" class="form-control" formControlName="idLanguage" name="idLanguage">          
          </p>
        </div>
        <div class="form-group">
          <p>
            <label for="label">label</label>
            <input type="text"  class="form-control" name="label" formControlName="label">
          </p>
        </div>  
        <button type="submit" class="btn btn-primary mr-1"> Submit</button>   
    </form>

  
  
  
  