
       <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Domaine Active</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <!-- <a href="#">Home</a></li> -->
                  <li class="breadcrumb-item">       
                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="DomaaineFilter.nom" >
                  </li>
                  <!-- <li class="breadcrumb-item active">Simple Tables</li> -->
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
        <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-outline-success" (click)="AddDom()">
                    <i class="fa fa-plus"></i> Add Domaine
            </button>
                </div>
  
<!--   
  
  <ng-template #templateS>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Domaine Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="Ref.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-domaine></app-domaine>
      
    </div>
  </ng-template> -->

  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
       
        <th>Nom</th>
        <th>Statut</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Domaine of Domservice.DomActive | filterBy: DomaaineFilter | paginate
    : {
        id: 'MicroservicePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText" style="background-color: white; color: black">
      
      <td>{{Domaine.nom}}</td>
      <td>{{Domaine.isActiveDomaine}}</td>
      <!-- <td><button (click)="DeleteDom(Domaine.idDomain)">Delete</button></td> -->
      <td>
        <button type="button" class="btn btn-danger" (click)="ConfirmModalDomaine(templateD)"><i
            class="fas fa-trash-alt"></i>Delete</button>
  
     
        <ng-template #templateD>
          <div class="modal-body text-center">
            <p>Voulez vous Supprimer ?</p>
            <button type="button" class="btn btn-default"
              (click)="confirmModal();DeleteDom(Domaine.idDomain);">Yes</button>
            <button type="button" class="btn btn-primary" (click)="declineModal()">No</button>
          </div>
        </ng-template>
      </td>
      <!-- <td><button (click)="EditDom(Domaine)">Edit</button></td> -->
      <td><button class="btn btn-primary" (click)="EditDom(Domaine)"><i class="fas fa-edit"></i>
        Edit</button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="card-footer clearfix">
    <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
    previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>