
    <form [formGroup]="Domservice.form" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <p>
          <label for="idDomaine">idDomaine</label>
          <input type="text" class="form-control" formControlName="idDomain" name="idDomain">
        </p>
      </div>
      <div class="form-group">
        <p>
          <label for="label">Nom</label>
          <input type="text" class="form-control" name="nom" formControlName="nom">
        </p>
      </div>
      <!-- <button type="submit" class="btn btn-primary mr-1"> Submit</button> -->
      <button type="button" class="btn btn-danger" (click)="Ref.hide()">Fermer</button>

    </form>
