
 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a  class="brand-link" style="color: white;"> 
  <!-- <img src="" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"  style="opacity: .8"> -->
    <span class="brand-text font-weight-light"> Poulina Group Holding</span>
   </a> 

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
   
       <div class="image">
        <img src="/assets/Image/Sans-titre-3.png" alt=" Image" height="100" width="240
        ">
      </div> 
   
   

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Gestion Micro Services
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="list-language-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-laptop-code"></i> &nbsp;
                <p>Language</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-active-version" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-sort-numeric-down"></i> &nbsp;
                <p>Version</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-ver-lang-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-sort-numeric-down"></i>
                <i class="fas fa-laptop-code"></i> &nbsp;
                <p>Language Version</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-domaine-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-dice-d6"></i> &nbsp;
                <p>Domaine</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-domaine-projet-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-dice-d6"></i>
                <i class="fas fa-project-diagram"></i> &nbsp;
                <p>Domaine Projet</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-ms-projet-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-microchip"></i> 
                <i class="fas fa-project-diagram"></i> &nbsp;
                <p>MS Projet</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-comm-ms-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-microchip"></i> 
                <i class="fas fa-comment-alt"></i> &nbsp;
                <p>Commentaires Ms</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-ms-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-microchip"></i> &nbsp;
                <p>Micro Service</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-methode-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-cogs"></i> &nbsp;
                <p>Methode</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-projet-active" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-project-diagram"></i> &nbsp;
                <p>Projet</p>
              </a>
            <!-- </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
              </a>
            </li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li> -->
      </ul>


      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-close">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Gestion Commentaires
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="list-Categorie" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-book"></i> &nbsp;
                <p>Categorie</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-cat-info" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-book"></i><i class="fas fa-question"></i> &nbsp;
                <p>Categorie Info</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-comm-demande-info" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-comment-alt"></i><i class="fas fa-question"></i> &nbsp;
                <p>Commentaires Info</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-comm-vote" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-comment-alt"></i><i class="fas fa-star"></i> &nbsp;
                <p>Commentaires Vote</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-vote" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-star"></i> &nbsp;
                <p>Vote</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-commentaire" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-comment-alt"></i> &nbsp;
                <p>Commentaires</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-sous-categorie" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-book-open"></i> &nbsp;
                <p>Sous Categorie</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="list-demande-info" routerLinkActive="active" class="nav-link ">
                <i class="fas fa-question"></i> &nbsp;
                <p>Demande Information</p>
              </a>
            </li>
        
            <!-- <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
              </a>
            </li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Simple Link
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
