 
  <div class="modal-header">
    
    <h4 class="modal-title pull-left">Methode Detail</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

<div clas="container">
 
 
 
 
 
 
 
 <form [formGroup]="mService.form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <p>
          
          <input type="hidden" class="form-control" formControlName="idMethode" name="idMethode">
        </p>
      </div>
      <div class="form-group">
        <p>
          <label for="label">Nom</label>
          <input type="text" class="form-control" name="nom" formControlName="nom">
        </p>
      </div>

      <div class="form-group">
        <p>
          <label for="label">Description</label>
          <input type="text" class="form-control" name="description" formControlName="description">
        </p>
      </div>
       
      <div class="form-group">
        <p>
          <label for="label">Input</label>
          <input type="text" class="form-control" name="input" formControlName="input">
        </p>
      </div>
       
      <div class="form-group">
        <p>
          <label for="label">Output</label>
          <input type="text" class="form-control" name="output" formControlName="output">
        </p>
      </div>
       
      <label>Micro Service </label>
      <div>
        <select class="form-control" formControlName="msFk" placeholder="msFk">
         
          <option value="0">-Select-</option>
          <option *ngFor="let MicroService of msService.micro" [ngValue]="MicroService.idMs">
            {{MicroService.label}}</option>
        </select>
      </div>
      <div class="form-group row">
        <div class="col-md-5"></div>          
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1"  
            name="isActiveMethode"  value="True"  formControlName="isActiveMethode">
            <label class="custom-control-label" for="switch1">Statut</label>
          </div> 
        </div>
      </div>
      <br>

      <button type="submit" class="btn btn-primary mr-1"> Submit</button>
    </form>

</div>
</div>

