<div class="container">
  <!-- <form [formGroup]="CommService.form" (ngSubmit)="onSubmitComm()">
  <p class="domcat">Votre Reponse </p>
            <textarea class="form-control"  formControlName="description" rows="3" cols="3" >
          </textarea>
      <button class="btn btn-info mb-2" >
    Poster
      </button>
  </form> -->

<div class="card card-outline ">
  <div class="card-header">
    <h3 class="card-title comm">Votre Reponse</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
      </button>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body" style="display: block;">
   <form [formGroup]="CommService.form" (ngSubmit)="onSubmitComm()">
    <textarea class="form-control"  formControlName="description" rows="3" cols="3" >
    </textarea>
<button class="btn btn-info mt-2" >
Poster Votre Reponse
</button>
</form> 
  </div>
  <!-- /.card-body -->
</div>
</div>