<div class="content-wrapper">
  <div class="form-group row">
    <div class="col-md-5">
        <button type="button" class="btn btn-outline-success" (click)="AddMp(templateSubmit)">
          <i class="fa fa-plus"></i> Add MicroService Projet
  </button>
    </div>
    <div class="col-md-5">
     
    </div>
       <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="MsProjetFilter.labelMS" >
  
  
       </div>
      
  
  <ng-template #templateSubmit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">MicroService Projet Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefMsProjet.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-ms-projet></app-ms-projet>
      
    </div>
  </ng-template>
  
  
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        
        <th>MicroService</th>
        <th>Projet  </th>
        <th>Statut</th>
        <th>Supprimer</th>
        <th>Modifier</th>
        <!-- <th>Microservices</th>
    <th>Languages Versions</th> -->
      </tr>
    </thead>
    <tbody>
    <!-- <button class="btn btn-danger" (click)="DeleteLang(language.idLanguage,template1)"><i class="fas fa-trash-alt"></i>  Delete</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create Language</button> -->
    <tr *ngFor="let mp of msprojetService.MsProj | filterBy: MsProjetFilter | paginate
    : {
        id: 'MicroservicePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText" 
      style="background-color: white; color: black">
      
      <td>{{mp.labelMS}}</td>
      <td>{{mp.nomProjet}}</td>
      <td> {{ mp.isActiveMsVer ? 'Active' : 'Inactive'}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="ConfirmModalMp(templateDelete)"><i
            class="fas fa-trash-alt"></i>Delete</button>
  
        <!-- <pre class="card card-block card-header">{{message}}</pre> -->
        <ng-template #templateDelete>
          <div class="modal-body text-center">
            <p>Voulez vous Supprimer ?</p>
            <button type="button" class="btn btn-default"
              (click)="confirmMp();DeleteMp(mp.idMsProjet);">Yes</button>
            <button type="button" class="btn btn-primary" (click)="declineMp()">No</button>
          </div>
        </ng-template>
      </td>
      <td><button class="btn btn-primary" (click)="EditMp(mp,templateSubmit)"><i class="fas fa-edit"></i>
          Edit</button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
  previousLabel="Prec " nextLabel="Suiv ">
  </pagination-controls>
  </div>
