<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Catégorie Active</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <!-- <a href="#">Home</a></li> -->
            <li class="breadcrumb-item"> <input type="text" class="form-control" placeholder="Search" [(ngModel)]="CatFilterActive.label" ></li>
            <!-- <li class="breadcrumb-item active">Simple Tables</li> -->
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-outline-success" (click)="AddCat(templateSubmit)">
              <i class="fa fa-plus"></i> Create Categorie
            </button>
          </div>
 
  <ng-template #templateSubmit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Categorie Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalCatRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-categorie></app-categorie>
    </div>
  </ng-template>
  
  <div class="card-body">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
       
        <th>Label</th>
        <th>Supprimer</th>
        <th>Modifier</th>
        
      </tr>
    </thead>
    <tbody>
       
    <tr *ngFor="let Categorie of categorieService.catActive  | filterBy: CatFilterActive | paginate
    : {
        id: 'MicroservicePagination',
        itemsPerPage: 3,
        currentPage: p
      } " class="sizeText" 
    style="background-color: white; color: black">
      
      <td>{{Categorie.label}}</td>
  
   
      <!-- <td><button (click)="DeleteVer(Versions.idVersion)">Delete</button></td> -->
     <td>
        <button type="button" class="btn btn-danger" (click)="ConfirmCategorieModal(templateDelete)"><i
            class="fas fa-trash-alt"></i>Delete</button>
  
        <!-- <pre class="card card-block card-header">{{message}}</pre> -->
        <ng-template #templateDelete>
          <div class="modal-body text-center">
            <p>Voulez vous Supprimer ?</p>
            <button type="button" class="btn btn-default"
              (click)="confirmCategorie();DeleteCat(Categorie.idCat)">Yes</button>
            <button type="button" class="btn btn-primary" (click)="declineCategorie()">No</button>
          </div>
        </ng-template>
      </td>
      <!-- <td><button (click)="EditVer(Versions)">Edit</button></td> -->
      <td><button class="btn btn-primary" (click)="EditCat(Categorie,templateSubmit)"><i class="fas fa-edit"></i>
        Edit</button>
      </td>
    </tr>
   
  </tbody>
  </table>
</div>
<div class="card-footer clearfix">
  <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
  previousLabel="Prec " nextLabel="Suiv ">
  </pagination-controls>
</div>
  </div>
  </div>
  </div>
  </div>
  </section>
</div>