<div class="content-wrapper">
<app-nav-header></app-nav-header>
<div class="container">
  <div class="form-group row">
    <div class="col-md-5"></div>          
    <div class="col-md-5">
      <ng-template #templateSubmit>
        <div class="modal-header">
          <h4 class="modal-title pull-left"> Detail</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-popup></app-popup>
        </div>
      </ng-template>
      <button type="button" class="btn btn-primary" (click)="openModal(templateSubmit)">Poser Question</button>
    </div>
    <div class="col-md-2"></div>
 

 </div>
  
  <label>Choisir Domaine </label>
        <div>
          <select class="form-control" (change)="InfoService.GetInfoFiltrer($event.target.value)" >
           
            <option value="0">-Select-</option>
            <option *ngFor="let dom of domService.Dom"  value={{dom.idDomain}}>
              {{dom.nom}}</option>
          </select>
          <br>
         <button routerLink="get-id-info" class="btn btn-outline-success"routerLinkActive="active" >Choisir</button>
        </div>
</div>
</div>