<!-- <div class="content-wrapper">
  <div class="form-group row">
    <div class="col-md-5">
        <button type="button" class="btn btn-outline-success" (click)="AddCi(templateSubmit)">
          <i class="fa fa-plus"></i> Add Commentaire Demande Information
  </button>
    </div>
    <div class="col-md-5">
    </div>
       <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="CommInfoFilter.descriptionInfo" >
  
  
       </div> -->
      
       <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1> Commentaire Demande Information</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <!-- <a href="#">Home</a></li> -->
                  <li class="breadcrumb-item">
                    <input type="text" class="form-control" placeholder="Chercher" [(ngModel)]="CommInfoFilter.descriptionComm" >
                  </li>
                  <!-- <li class="breadcrumb-item active">Simple Tables</li> -->
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
        <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-outline-success" (click)="AddCi()">
                    <i class="fa fa-plus"></i> Créer Commentaire Demande Information
            </button>
                </div>
  <!-- <ng-template #templateSubmit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Commentaire Info Detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCommInfo.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-comm-demande-info></app-comm-demande-info>
      
    </div>
  </ng-template> -->
  
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        
        <th>Commenatires</th>
        <th>Demande Information  </th>
        <th>Statut</th>
        <th>Supprimer</th>
        <th>Modifier</th>
        <!-- <th>Microservices</th>
    <th>Languages Versions</th> -->
      </tr>
    </thead>
    <tbody>
    <!-- <button class="btn btn-danger" (click)="DeleteLang(language.idLanguage,template1)"><i class="fas fa-trash-alt"></i>  Delete</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create Language</button> -->
    <tr *ngFor="let ci of CommInfoService.CommInfo | filterBy: CommInfoFilter | paginate
    : {
        id: 'MicroservicePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText" 
      style="background-color: white; color: black">
      
      <td>{{ci.descriptionComm}}</td>
      <td>{{ci.titreInfo}}</td>
      <td> {{ ci.isActiveCommInfo ? 'Active' : 'Inactive'}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="ConfirmModalCi(templateDelete)"><i
            class="fas fa-trash-alt"></i>Supprimer</button>
  
        <!-- <pre class="card card-block card-header">{{message}}</pre> -->
        <ng-template #templateDelete>
          <div class="modal-body text-center">
            <p>Voulez vous Supprimer ?</p>
            <button type="button" class="btn btn-default"
              (click)="confirmCi();DeleteCi(ci.idCommInfo);">Oui</button>
            <button type="button" class="btn btn-primary" (click)="declineCi()">Non</button>
          </div>
        </ng-template>
      </td>
      <td><button class="btn btn-primary" (click)="EditCi(ci)"><i class="fas fa-edit"></i>
          Modifier</button></td>
    </tr>
    </tbody>
  </table>
  </div>
  <div class="card-footer clearfix">
    <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
    previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
  </div>
    </div>
    </div>
    </div>
    </div>
    </section>
  </div>

